body{
	background-image: url("https://www.webstepbook.com/supplements/labsection/lab2-journal/images/background.gif");
	font-family: 'open sans',arial,sans-serif;;
	color: #00CED1;	
	margin-right: 10%;
	margin-left: 10%;
}
#container {
	background-color: white;
	border: 5px green solid;	
}
h2 strong{
	border: 5px purple solid;
}
.entry{
	border: 5px blue solid;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
}
#header {
	border: 5px red solid;
}
#header h2 {
	border: 5px orange solid;
}